Repository iee-ihu-gr-course1941/ADISE19_CoRes, pull requests merged in 2020-01, with the labels that each got.

#20 Add logout button in Lobby
  Unity/Assets/Scenes/Lobby.unity
Labels: enhancement, unity

#19 Add leave button in Game
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Scripts/Game.meta
  Unity/Assets/Scripts/Game/Leave.cs
  Unity/Assets/Scripts/Game/Leave.cs.meta
  Unity/Assets/Scripts/Logout.cs
Labels: enhancement, unity

#25 Display the prices of properties and taxes from the database on the board
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Scripts/Game/PlayerMovement.cs
  Unity/Assets/Scripts/Game/PlayerMovement.cs.meta
  Unity/Assets/Scripts/Game/Properties.cs
  Unity/Assets/Scripts/Game/Properties.cs.meta
  Unity/Assets/Scripts/Game/Route.cs
  Unity/Assets/Scripts/Game/Route.cs.meta
  Unity/Assets/Scripts/Game/Taxes.cs
  Unity/Assets/Scripts/Game/Taxes.cs.meta
  Unity/Assets/Scripts/Lobby/PriceLoader.cs
  Unity/Assets/Scripts/Movement.cs
Labels: enhancement, unity

#37 Create Community Chest and Chance card prefabs
  Unity/Assets/Fonts/OPENSANS-REGULAR SDF.asset
  Unity/Assets/Fonts/OPENSANS-REGULAR SDF.asset.meta
  Unity/Assets/Prefabs/ChanceCard.prefab
  Unity/Assets/Prefabs/ChanceCard.prefab.meta
  Unity/Assets/Prefabs/CommunityChestCard.prefab
  Unity/Assets/Prefabs/CommunityChestCard.prefab.meta
Labels: enhancement, unity

#43 Updated board texture to latest version
  Unity/Assets/Materials/board.mat
  Unity/Assets/Materials/board.mat.meta
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Textures/board.png
  Unity/Assets/Textures/board.png.meta
  Unity/Assets/Textures/monopoly.png
Labels: enhancement, unity

#48 Refresh button in Home now removes old entries
  Unity/Assets/Scenes/Home.unity
  Unity/Assets/Scripts/Home/LoadGames.cs
Labels: bug, unity

#51 Changed BottomBar colors to have more contrast
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Scenes/Lobby.unity
Labels: enhancement, unity

#56 Socket io reimplementation
  Backend/app.js
  Backend/library/gameHolder.js
  Backend/library/gameManager.js
  Backend/mock-client/src/components/Game.js
  Backend/mock-client/src/index.js
  Backend/models/game.js
  Backend/routes/game.js
  Backend/socket-io/gameEvents.js
  Backend/socket-io/playerEvents.js
  Backend/socket-io/socketEmitter.js
  Backend/socket-io/socketWatcher.js
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Scripts/Game/CurrentGame.cs
  Unity/Assets/Scripts/Game/CurrentGame.cs.meta
  Unity/Assets/Scripts/Game/Leave.cs
  Unity/Assets/Scripts/GameManager.cs
  Unity/Assets/Scripts/Home/LoadGames.cs
  Unity/Assets/Scripts/Schema/Game.cs
  Unity/Assets/Scripts/Schema/Player.cs
  Unity/Assets/Scripts/SocketIo.cs
Labels: backend, bug, enhancement, unity

#59 Backend improvements
  Backend/library/gameManager.js
  Backend/models/game.js
Labels: backend, bug, enhancement

#60 Fixed TypeError in SocketWatcher
  Backend/socket-io/socketWatcher.js
Labels: backend, bug

#61 Fixed Game API errors format
  Backend/routes/game.js
Labels: backend, bug

#65 Sockets synchronize with session changes
  Backend/app.js
  Backend/library/gameManager.js
  Backend/mock-client/src/components/Lobby.js
  Backend/routes/auth.js
  Backend/socket-io/socketManager.js
  Backend/socket-io/socketWatcher.js
Labels: backend, bug, enhancement

#68 Running games in Home scene no longer show "Waiting for players"
  Unity/Assets/Scripts/Home/LoadGames.cs
Labels: bug, unity

#69 Fixed dice numbers
  Backend/routes/player.js
Labels: backend, bug

#70 Fixed rounds not resetting when changing game
  Backend/models/game.js
  Backend/routes/player.js
Labels: backend, bug

#83 gameStarted event sends user id of first player
  Backend/library/gameManager.js
  Backend/socket-io/gameEvents.js
Labels: backend, enhancement

#87 Added skybox - Hide [PH] Timer
  Backend/app.js
  Unity/Assets/Resources/SkyBox Volume 2.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/DSG.mat
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/DSG.mat.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/backImage.png
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/backImage.png.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/downImage.png
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/downImage.png.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/frontImage.png
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/frontImage.png.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/leftImage.png
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/leftImage.png.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/rightImage.png
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/rightImage.png.meta
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/upImage.png
  Unity/Assets/Resources/SkyBox Volume 2/DeepSpaceGreen/upImage.png.meta
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Scenes/Home.unity
  Unity/Assets/Scenes/Lobby.unity
  Unity/Assets/Scripts/Game/CameraController.cs
Labels: enhancement, unity

#90 Added playerPlaysAgain event listener - Added status messages to Game scene
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/Scripts/Game/CurrentGame.cs
  Unity/Assets/Scripts/SocketIo.cs
Labels: enhancement, unity

#91 Lock Upload in APIWrapper to prevent duplicate requests
  Unity/Assets/Scripts/APIWrapper.cs
Labels: enhancement, unity

#92 Introduced Transaction API - Closes #75
  Backend/app.js
  Backend/library/gameHolder.js
  Backend/routes/transaction.js
  Backend/socket-io/propertyEvents.js
Labels: backend, enhancement

#94 Added playerSteppedOnTax event
  Backend/socket-io/playerEvents.js
Labels: backend, enhancement

#96 Fixed WebSocket.jslib bug
  Unity/Assets/Plugins/WebSocket.jslib
  Unity/Assets/Scripts/Leave.cs
Labels: bug, unity

#95 Changed WebGL template to greggman/better-unity-webgl-template
  Unity/Assets/WebGLTemplates/BetterTemplate.meta
  Unity/Assets/WebGLTemplates/BetterTemplate/index.html
  Unity/Assets/WebGLTemplates/BetterTemplate/index.html.meta
  Unity/Assets/WebGLTemplates/BetterTemplate/logo.png
  Unity/Assets/WebGLTemplates/BetterTemplate/logo.png.meta
  Unity/Assets/WebGLTemplates/SocketIO/index.html
  Unity/ProjectSettings/ProjectSettings.asset
Labels: enhancement, unity

#97 Added location to models.game
  Backend/models/game.js
  Unity/Assets/Scripts/Schema/Property.cs
Labels: backend, enhancement, unity

#100 Added Cores WebGL template
  Unity/Assets/WebGLTemplates/BetterTemplate/index.html
  Unity/Assets/WebGLTemplates/CoresTemplate.meta
  Unity/Assets/WebGLTemplates/CoresTemplate/index.html
  Unity/Assets/WebGLTemplates/CoresTemplate/index.html.meta
  Unity/Assets/WebGLTemplates/CoresTemplate/logo.png
  Unity/Assets/WebGLTemplates/CoresTemplate/logo.png.meta
  Unity/Assets/WebGLTemplates/CoresTemplate/responsive.javascript
  Unity/Assets/WebGLTemplates/CoresTemplate/responsive.javascript.meta
  Unity/Assets/WebGLTemplates/CoresTemplate/style.css
  Unity/Assets/WebGLTemplates/CoresTemplate/style.css.meta
  Unity/Assets/WebGLTemplates/CoresTemplate/thumbnail.png
  Unity/Assets/WebGLTemplates/CoresTemplate/thumbnail.png.meta
  Unity/ProjectSettings/ProjectSettings.asset
Labels: enhancement, unity

#105 Improvements
  Unity/Assets/Resources/Materials.meta
  Unity/Assets/Resources/Materials/board.mat
  Unity/Assets/Resources/Materials/board.mat.meta
  Unity/Assets/Resources/board.png.meta
  Unity/Assets/Scenes/Game.unity
  Unity/Assets/TextMesh Pro/Resources/TMP Settings.asset
Labels: bug, enhancement, unity

#14 README.md
  README.md
Labels: documentation

#106 Balance and owned properties now update when event occurs
  Unity/Assets/Scripts/Game/CurrentGame.cs
  Unity/Assets/Scripts/Schema/Game.cs
  Unity/Assets/Scripts/Schema/Player.cs
  Unity/Assets/Scripts/Schema/Property.cs
  Unity/Assets/Scripts/SocketIo.cs
Labels: enhancement, unity

#107 Readme corrections
  README.md
Labels: documentation

#112 Added restrictions to README
  README.md
Labels: documentation, enhancement

#113 Added android download link to README
  README.md
Labels: documentation, enhancement
